<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  <body>
    <section class="container">
      <h1>ERROR 404</h1>
    </section>

    <%- include('includes/scripts') %>
  </body>
</html>
