<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  <body>
    <section class="container">
      <h1><%= title %></h1>

      <form action="/" method="POST" class="form">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-lg"
                >Cliente</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Large"
              aria-describedby="inputGroup-sizing-sm"
            />
          </div>
          <button type="submit" class="btn btn-primary">submit</button>
        </div>
      </form>
    </section>

    <%- include('includes/scripts') %>
  </body>
</html>
